@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-main: #0d2856;
  --color-dark: #061633;
  --color-main-hover: #092040;
  --color-sidebar-item-default: #9b9db8;
  --color-sidebar-item-active: #0a1319;
}

body {
  font-family: 'Rubik', sans-serif;
}
